TOKEN = 'token'

# represents maximum available number of 'msg bodies' stored in data.json
DATA_LIST_LIMIT = some_num

# represents path to the file where users' requests are stored
JSON_DATA_PATH = "path to json file"

DOWNLOADS_PATH = "downloads"

# shown when <get_last_command> in file_service.py module cannot find last command of the stated user
LAST_COMMAND_NOT_FOUND_ERROR_CODE = "404"

# shown when <get_last_non_command_message_text> in file_service.py module cannot find last non-command of the stated user
LAST_NON_COMMAND_NOT_FOUND_ERROR_CODE = "405"

# shown when <get_user_id_safe> in data_extractor.py module cannot find user id from the stated msg
USER_ID_NOT_FOUND_ERROR_CODE = "406"

# shown when <get_message_text> in data_extractor.py module cannot get message text
MESSAGE_TEXT_NOT_FOUND_ERROR_CODE = "407"

# telegram contact of the person who can help with customer's issue
ADMINISTRATOR_CONTACT = "telegram or other admin_contact"

# admin's user_id
ADMIN_USER_ID = "user_id of admin"

# command for bot to call full cleanup of data.json
CLEANUP_COMMAND = "cleanup command"